@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.mainContent {
  margin-top: 5rem;
  width: 100%;
}

.card {
  -webkit-box-shadow: 2px ​3px 5px -3px #AAA;
     -moz-box-shadow: 2px ​3px 5px -3px #AAA;
          box-shadow: 2px ​3px 5px -3px #AAA;
  
}

